//Global
body {
	background-color: $top-bar-bg;
	font-family: $font-family-sans-serif;
	> #vue-app,
	> #vue-error {
		background-color: $top-bar-bg;
	}
}
.page-content {
    background-color: $white;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	color: $top-bar-bg;
}
//Global End

//Homepage Start
.home {
	.teaser {
        margin-top: 13em;
        color:$brand-primary;
	       h1 {
	            font-size: 5em;
	            margin-top: .5em;
		     color: $brand-primary;
	       }
	       h3 {
	            font-size: 1.75em;
	            margin-top: .5em;
		     color: $brand-primary;
	       }
	       i {
	            font-size: 10em;
		     color: $brand-primary;
		}
	}
       .page-content {
       	margin-top: 20vh;
      }
	.carousel-control {
		@include media-breakpoint-up(md) {
			top: 10%;
			bottom: 30% !important;
		}
	}
}


//Homepage End

//Header Start
.top-bar {
	.navbar {
		border-bottom: none;
		background-color: $top-bar-bg;
	}
}

#mainNavbarCollapsable {
	ul.mainmenu {
		>li {
		    	color: $white;
			border-left: 1px solid $white;
			> a {
				padding: 1rem 1rem;
				font-size: 1.1rem;
				font-family: $font-family-menu;
				color: $white;
				&:last-child {
					border-left: 1px solid transparent;
				}
			}
			&:first-child {
				border-left: 1px solid transparent;
			}
			&:hover {
				 a {
				transition: all 0s;
 	   			color: white;
				}
			}
		}
	}
}
//Header End

//Footer Start
.footer{
	display: block;
	background-color: $footer-bg;
	max-width:1200px;
	margin:0 auto;
	>.container-max {
		background-color:$footer-bg;
		hr {
			border-top:1px solid white;
		}
	}

	a{
		color: $footer-color;
	}

	.footer-features{
		border-top: 0;
		background-color: $footer-features-bg;
		color: $footer-features-color;
		i {
			color:$footer-features-color !important;
		}
	}

	.footer-content{

	}

	.footer-services{
		display: flex;
		flex-flow: column nowrap;

		.services-payment,
		.services-shipping,
		.services-certificate{
			display: inline-block;
			display: inline-flex;
			flex-flow: row wrap;
			flex: 0 1 auto;
		}

		.services-certificate{
			flex: 1 0 auto;
		}

		.services-title{
			width: 100%;
		}

		a{
			flex: 1 1 auto;
			display: inline-block;
			max-width: 5rem;
    		margin-right: .5rem;
		}

		img{
			max-height: 4rem;
		}
	}

	.footer-column{

		.h5{
			font-weight: 700;
			color: $white;
		}
		ul {
			li{
				a {
					color:$white;
				}
			}
		}
	}

	.newsletter{

	}

	.btn-mail {
	    background-color: $gray;
	    color: white;

		i {
	    	padding: 0 1rem;
		}

		&:hover {
			background-color: $gray-light;
		}
	}

	.copyright {
		small {
			color:$white;
		}
	}


	@include media-breakpoint-up(sm){
		.footer-services{
			flex-flow: row nowrap;
		}
	}

	@include media-breakpoint-up(md){

	}

	@include media-breakpoint-up(lg){

	}
}
//Footer End

//Category Start
.parallax-img-container {
	.parallax-text-container {
		h1 {
			margin-bottom: 0;
			word-wrap: break-word;
			color: white;
			margin-top: 2rem;
		}
	}
}
.anicon {
	>.anicon-search-item {
		&::after {
			background: $top-bar-bg;
		}
	}
}

.categoriegrid {
    padding: 1rem;
}

.wrapper-main {
	.breadcrumbs {
		background: transparent;
	}
	>nav.container-max {
		background: transparent;
	}
	.breadcrumb {
		a {
			color: #fff;
		}
	}
}
.breadcrumb-item.active {
	color: $gray-light;
}

.list-controls {
	position:relative;
	.list-controls-inner {
		background:$gray;
		padding:.5em;
	}
}
//Category End

//Single Start
.single {
	background-color: $white;
	padding: 1rem;
	.nav-tabs {
        border-bottom:1px solid $gray;
        .nav-item {
            .nav-link {
                border:1px solid $gray;
                color: $gray;
                &.active,
                &:hover {
                    border:1px solid $gray;
                    color: $white;
                    background:$gray;
                }
            }
            &+.nav-item {
                margin-left: 0;
            }
        }
    }
}
//Single end

.cmp-product-thumb {
	border: 1px solid $top-bar-bg;
	.add-to-basket-lg-container {
		>i {
			color: $brand-primary;
		}
	}
}
