//Global
body {
	background-color: transparent;
	font-family: $font-family-sans-serif;
	> #vue-app,
	> #vue-error {
		background-color: transparent;
	}
}
.page-content {
    background-color: $white;
    padding: 1rem;
}
/* #page-body {
	margin-top: 2rem;
} */
//Global End

//Homepage Start
.home {
	.carousel-control {
		@include media-breakpoint-up(md) {
			top: 30%;
			bottom: 40% !important;
			width: 10%;
		}
	}
}


//Homepage End

//Header Start
#page-header {
	background-color: transparent !important;
	&.top-bar {
		.container-max {
			background-color: $top-bar-bg;
		}
		.navbar {
			background-color: transparent;
			border-bottom: none;
			.container-max {
				font-family: $font-family-menu;
				color: $brand-primary;
				background: $white;
			}
		}
		.controls-list {
			.control-basket{
				.toggle-basket-preview{
					background-color: $top-bar-basket-btn;
					color: $top-bar-basket-color;

					.badge{
						margin-left: .5rem;
					}

					&:hover{
						background-color: $custom-orange;
					}
				}
			}
		}
	}
}

#mainNavbarCollapsable {
	ul.mainmenu {
		>li {
			>a {
				font-family: $font-family-menu;
				color: $brand-primary;
				text-transform: uppercase;
			}
			&:hover {
				a {
					color:$white;
				}
			}
		}
	}
}
//Header End

//Footer Start
.footer{
	display: block;
	background-color: $footer-bg;
	max-width:1200px;
	margin:0 auto;
	>.container-max {
		background-color:$footer-bg;
		hr {
			border-top:1px solid white;
		}
	}

	a{
		color: $footer-color;
	}

	.footer-features{
		border-top: 0;
		background-color: $footer-features-bg;
		color: $footer-features-color;
		i {
			color:$footer-features-color !important;
		}
	}

	.footer-content{

	}

	.footer-services{
		display: flex;
		flex-flow: column nowrap;

		.services-payment,
		.services-shipping,
		.services-certificate{
			display: inline-block;
			display: inline-flex;
			flex-flow: row wrap;
			flex: 0 1 auto;
		}

		.services-certificate{
			flex: 1 0 auto;
		}

		.services-title{
			width: 100%;
		}

		a{
			flex: 1 1 auto;
			display: inline-block;
			max-width: 5rem;
    		margin-right: .5rem;
		}

		img{
			max-height: 4rem;
		}
	}

	.footer-column{

		.h5{
			font-weight: 700;
			color: $white;
		}
		ul {
			li{
				a {
					color:$white;
				}
			}
		}
	}

	.newsletter{

	}

	.btn-mail {
	    background-color: $gray;
	    color: white;

		i {
	    	padding: 0 1rem;
		}

		&:hover {
			background-color: $gray-light;
		}
	}

	.copyright {
		small {
			color:$white;
		}
	}


	@include media-breakpoint-up(sm){
		.footer-services{
			flex-flow: row nowrap;
		}
	}

	@include media-breakpoint-up(md){

	}

	@include media-breakpoint-up(lg){

	}
}
//Footer End

//Category Start
.parallax-img-container {
	.parallax-text-container {
		h1 {
			margin-bottom: 0;
			word-wrap: break-word;
			color: $white;
			margin-top: 2rem;
		}
	}
}
.anicon {
	>.anicon-search-item {
		&::after {
			background: $top-bar-bg;
		}
	}
}

.wrapper-main {
	.breadcrumbs {
		background: transparent;
	}
	>nav.container-max {
		background: transparent;
	}
	.breadcrumb {
		padding: .5rem 1rem;
		.breadcrumb-item {
			a {
				color: white;
			}
		}
		&.active {
			color: $gray-lighter;
		}
	}
}



.list-controls {
	position:relative;
	.list-controls-inner {
		background:$gray-lighter;
		padding:.5em;
	}
}
//Category End

//Single Start
.single {
	background-color: $white;
	padding: 1rem;
	@include media-breakpoint-up(md) {
		margin-top: 2.5rem;
	}
	.nav-tabs {
        border-bottom:1px solid $gray;
        .nav-item {
		 .nav-link {
                   border:1px solid $nav-tabs-border-color;
                   font-family: $font-family-serif;
                   font-size: 1.5rem;
		     color: $brand-primary;
                   &.active,
                   &:hover {
                       border:1px solid $nav-tabs-border-color;
                       color: $gray-darker;
                       background:$gray-lighter2;
                   }
               }
        }
    }
    .crossprice {
        .text-muted {
            color:$custom-orange!important;
        }
    }
    .price {
        color:$custom-blue;
    }
}
//Single end

.cmp-product-thumb {
	border: 1px solid $brand-primary;
	.price-view-port {
    		flex: 0 0 0;
		padding-right: .5rem;
	}
	.add-to-basket-lg-container {
		bottom: .8rem;
		transition: all .3s ease;
		opacity: 0;
		border-width: unset;
		top: unset;
		left: auto;
		right: .8rem;
		border-style: none;
		transform: unset;

		> i {
			right: 0;
			top: unset;
			bottom: 0;
		}
	}
	&:hover {
		.add-to-basket-lg-container {
		    opacity: 1;
		    i {
		        right: 0;
		        top: 0;
		        position: relative;
		        transition: .3s ease-out;
		        color: $brand-primary;

		        padding: .5rem .75rem;
		    }

		}
		>i {
			color: $brand-primary;
			border: 1px solid $brand-primary;
			padding: .5rem .75rem;
			border-radius: 3px;
		}
	}
}
